extends layout

block content
  h1= title
  form#CostumeForm(action="/resource/costumes", method="POST")
    .form-group
      label.costumeAttr(for='costume_type') Costume type
      input#costume_type(type='text', name='costume_type', required)
    .form-group
      label.costumeAttr(for='size') Costume size
      input#size(type='text', name='size', required)
    .form-group
      label.costumeAttr(for='cost') Costume cost
      input#cost(type='number', name='cost', step='0.01', required)
    input(type="submit", value="Create Costume")
  script.
    document.forms['CostumeForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        if(!resp.ok){
          throw new Error('Request failed with status ' + resp.status);
        }
        return resp.json();
      }).then((body) => {
        alert("Save succeeded");
      }).catch((error) => {
        alert("Save failed " + error);
      });
    });
